@font-face {
  font-family: parisienne;
  src: url("fonts/parisienne.regular.ttf") format("truetype");
}

html {
  --accent-light: #c8bfab;
  --accent-color: #857451;
  --accent-hover: #645840;
  --text-color: #5e5e5e;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 0;
  border: 1px solid var(--accent-color);
  padding: 0.4rem;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.25rem;
  accent-color: var(--accent-color);
}

/*=============================================
=                   Headers                   =
=============================================*/

h1,
h2 {
  font-family: "parisienne", cursive;
  font-weight: 100;
  text-align: center;
}

h1 {
  font-size: 5em;
  line-height: 1;
}

h2 {
  font-size: 3em;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.logo {
  font-size: 0.8rem;
}

header {
  padding: 0.8rem 1rem;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 3em;
  }
  .logo {
    font-size: 1.2rem;
  }
  .header {
    padding: 1rem 2rem;
  }
}
