html {
  scroll-snap-type: y mandatory;
  --accent-color: #c1a773;
  --accent-hover: #877551;
  --text-color: #5e5e5e;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;

  opacity: 1;
  transition: opacity 2s;

  &.visible {
    opacity: 1;
  }
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 0;
  border: 1px solid var(--accent-color);
  padding: 0.4rem;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--accent-color);
}

/*
* ##############
* ## HEADERS ##
* ##############
*/

h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
}
.logo {
  font-size: 0.8rem;
}
header {
  padding: 0.8rem 1rem;
}
section {
  padding: 0 2rem;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 3em;
  }
  .logo {
    font-size: 1.2rem;
  }
  .header {
    padding: 1rem 2rem;
  }
}

h1,
h2 {
  font-weight: 100;
  font-family: "parisienne", cursive;
  line-height: 1;
  margin-bottom: 2rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  color: var(--text-color);

  .logo {
    font-family: "parisienne", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  nav {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links {
    gap: 1rem;
    display: flex;
    align-items: center;
  }

  a {
    cursor: pointer;
  }

  .rsvpButton {
    background: var(--accent-color);
    border: none;
    color: white;
    padding: 0.6rem;
  }
}

/*
* ##############
* ## SECTIONS ##
* ##############
*/

.hero {
  background-image: url("public/hero.webp");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* filter: grayscale(100%); */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  text-align: center;
  color: white;

  .ampersand {
    font-size: 2rem;
  }

  .footer {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .date {
    display: block;
    font-size: 1.2em;
  }

  .rsvpFooterButton {
    width: fit-content;
    margin-top: 1rem;
    border: none;
    background: var(--accent-color);
    color: white;
    padding: 0.6rem;
    cursor: pointer;
  }
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plats {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1.8;
  }
}

.information {
  flex-direction: column;
  text-align: center;
}

.rsvp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;

  form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--accent-color);
    padding: 4rem;

    #name {
      margin-right: 1rem;
    }

    .firstRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    #forminfo {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.7s ease;

      #extraInfo {
        margin-bottom: 1rem;
        min-height: 4rem;
      }

      &.visible {
        max-height: 300px;
      }
    }

    #submitButton {
      background: var(--accent-color);
      color: white;
      border: none;
      padding: 0.7rem;
      cursor: pointer;

      transition: background 0.1s;
    }

    #submitButton:hover {
      background: var(--accent-hover);
    }
  }
}

@font-face {
  font-family: parisienne;
  src: url("fonts/parisienne.regular.ttf") format("truetype");
}
