html {
  scroll-snap-type: y proximity;
  --accent-color: #826e45;
  --accent-hover: #645434;
  --text-color: #5e5e5e;

  scroll-behavior: smooth;
}

body {
  text-align: center;
  padding-top: 35vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 12rem;
  margin: 0 auto;
}

h1 {
  font-family: "parisienne", cursive;
}

@font-face {
  font-family: parisienne;
  src: url("fonts/parisienne.regular.ttf") format("truetype");
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 0;
  border: 1px solid var(--accent-color);
  padding: 0.4rem;
}


#submitButton {
  background: var(--accent-color);
  color: white;
  border: none;
  padding: 0.7rem;
  cursor: pointer;

  transition: background 0.1s;
}

#submitButton:hover {
  background: var(--accent-hover);
}